body {
  background-color: azure;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#accordion {
  width: 330px;
}
#accordionDetails {
  width: 280px;
}
.avatar {
  margin: auto;
  background-color: #1bbd7e !important;
}
.button {
  margin: 8px 0 !important;
}
.grid {
  text-align: center !important;
}
#header {
  background-color: #8a2be2;
  display: flex;
  justify-content: space-between;
}
#mainDiv {
  display: flex !important;
}

.paper {
  padding: 20px;
  width: 280px;
  margin: 20px auto;
}
.link {
  margin: 5px !important;
  text-decoration: none !important;
  color: black !important;
  &:hover {
    color: blue !important;
  }
}
.list {
  background-color: #fff;
  width: 330px;
}
.listGrid {
  display: flex;
  flex-direction: column !important;
  text-align: center;
  margin: 0 0 5px 300px;
}
.listItem {
  border: 1px solid #808080;
}
.listItemText {
  padding: 5px;
}
#logOut {
  padding-top: 30px;
}
.textField {
  margin: 5px 0 !important;
}
